body
{
    background-color: #35424a;
}
.title
{
    color: rgba(208, 52, 0, 0.961);
    margin-right: 7px;
}
.title2
{
    color: white;
}
.nav
{
    display: flex;
    flex-direction: row;
    float: right;
    border: solid yellow;
    justify-content: space-between;
    margin-left: 400px;
}
.brandning
{
    display: flex;
    flex-direction: row;
    border: solid blue;
    margin: 10px;
}
.container
{
    /* display: flex;
    flex-direction: row; */
    width: 80%;
    /* justify-content: center; */
    border: solid black;
    margin: auto;
}